<main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3">
    <h3><i class="material-icons">local_gas_station</i> {{vm.veiculoContext.nome}} > Abastecimentos</h3>
    <div class="card">
        <div class="card-header">
            <span>{{vm.titulo}}</span>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputData">Data</label>
                        <input type="date" ng-model="vm.record.data" class="form-control" id="inputData" required>

                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputQuilometragem">Quilometragem</label>
                        <input type="text" ng-model="vm.record.quilometro" class="form-control" id="inputQuilometragem" required>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inpuTipoCombustivel">Tipo Combustível</label>
                        <select ng-model="vm.record.tipoCombustivel" id="inpuTipoCombustivel" class="form-control">
                                      <option selected value="DIESEL">Diesel</option>
                                      <option value="ETANOL">Etanol</option>
                                      <option value="GASOLINA">Gasolina</option>
                                      <option value="GNV">Gnv</option>
                                    </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputValor">Valor</label>
                        <input type="text" ng-model="vm.record.valorUnitario" class="form-control" id="inputValor" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputQuantidade">Litros</label>
                        <input type="text" ng-model="vm.record.quantidade" class="form-control" id="inputQuantidade" required ng-blur="vm.calculaTotal()">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputTotal">Total</label>
                        <input type="text" ng-disabled="true" ng-model="vm.record.valorTotal" class="form-control" id="inputTotal" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputAnotacao">Anotação</label>
                        <input type="text" ng-model="vm.record.anotacao" class="form-control" id="inputAnotacao" placeholder="Anotação">
                    </div>
                </div>
        </div>
        <div class="text-right">
            <a class="btn btn-primary" href="javascript:void()" ng-click="vm.salvar()">Salvar</a>
            <a class="btn btn-primary" ui-sref="abastecimento.list">Cancelar</a>
            <!--a class="btn btn-primary" href="javascript:void()" ng-click="vm.excluir(vm.record.id)">Excluir</a-->
        </div>

        </form>

    </div>
    </div>
</main>